# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# project spec
# temp/
stanfordnlp/stanford-corenlp-full-2013-06-20*
stanfordnlp/stanford-parser-full-2014-01-04*
.idea*
# cache
*~
*.amr.tok
*.sent
*.sent.prp
*.sent.tok
*.all.parsed
*.sent.tok.charniak.parse
*.sent.tok.charniak.parse.dep
*.eval.parsed
scripts/*~
